<html lang="en">
<head>
{{>header}}
</head>
<body class="container">
<script src="https://kit.fontawesome.com/81b06af5ec.js" crossorigin="anonymous"></script>
<h1>Welcome</h1>
<div class="picmenu">
        <a href="/"> <img src="img/logo1.JPG" alt="UmaiNihon" width="160" height="90"></a>
</div>
<div class="navbar">
        <ul>
        {{#loggedIn}}
            <li><a class="active" a href="staffhome">Home</a></li>
            <li><a href="register">Register</a></li>
            <li><a href="logout">Log Out</a></li>
            {{/loggedIn}}
          </ul>
        </div>
<br>
<br>
<div class="searchbar">
<input  id='dishInput' onkeyup='searchDishes()' type='text' placeholder="Search Dishes...">
<i id = "search"class="fa-solid fa-magnifying-glass"></i>
<a href="staffadd"><i id="plusbutton"class="fa-solid fa-square-plus fa-2xl"></i></a>
</div>
<br>
<table id ="dishTable">
{{#entries}}
<form action="/staffhome/{{ _id }}/remove" method="POST">
<tr>
<th>{{name}}</th>
<td>{{description}}</td>
<td>{{type}}</td>
<td><a href="staffedit">Edit</a></td>
<td><button type="submit"class="btn-delete"><i class="fa-solid fa-trash-can fa-xl"></i></button></td>
</tr>
</form>
{{/entries}}
</table>



<script src="./javascript/searchbar.js"></script>

{{^entries}}
No entries yet.
{{/entries}}
</body>
</html>

